src/yarrrserver
src/*.a

*tags
*~
*log*
dummy_notification_file
notifications
package_version
*core*
*swp
*.cmake
Makefile
CMakeFiles
CMakeCache.txt
build
install_manifest.txt
test/test_runner
test/valgrind*

